In [5]:
import pandas as pd

marketing = pd.read_csv('ad.data', index_col=None)

In [6]:
marketing.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [8]:
from sklearn.model_selection import train_test_split

X = marketing[['TV','Radio','Newspaper']]
y = marketing['Sales']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [12]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [13]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

print('MAE:', mean_absolute_error(y_test, y_pred))
print('RMSE:', mean_squared_error(y_test, y_pred) ** 0.5)

MAE: 1.3000320919235455
RMSE: 2.0031219440955406

In [17]:
import numpy as np

sum(np.abs(y_test - y_pred)) / len(y_test)

1.3000320919235449

In [22]:
(sum((y_test - y_pred) ** 2) / len(y_test) ) ** 0.5

2.003121944095541

In [28]:
model.predict([[100,50,30]])

array([17.29386908])

In [27]:
print(model.coef_)
print(model.intercept_)

[0.04416235 0.19900368 0.00116268]
2.8925700511511483

In [29]:
2.89 + 0.044 * 100 + 0.19 * 50 + 0.001 * 30

16.82

### Exerc√≠cio

In [30]:
from sklearn.datasets import load_boston
X, y = load_boston(return_X_y=True)

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [34]:
print(X_train.shape)
print(X_test.shape)

(379, 13)
(127, 13)

In [36]:
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print('MAE:', mean_absolute_error(y_test, y_pred))
print('RMSE:', mean_squared_error(y_test, y_pred) ** 0.5)

MAE: 3.6683301481357256
RMSE: 5.457311159564069

In [37]:
y_test.mean()

22.30629921259843

In [38]:
from sklearn.linear_model import Lasso

for alpha in [0.001,0.01,0.1,1,10,100,1000]:

    model = Lasso(alpha=alpha)
    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)

    print("Alpha:", alpha)
    print('MAE:', mean_absolute_error(y_test, y_pred))
    print('RMSE:', mean_squared_error(y_test, y_pred) ** 0.5)
    print()

Alpha: 0.001
MAE: 3.6673319401722906
RMSE: 5.459763510039256

Alpha: 0.01
MAE: 3.660700474168842
RMSE: 5.485531856902301

Alpha: 0.1
MAE: 3.7400419081560554
RMSE: 5.665080306304301

Alpha: 1
MAE: 4.029701245737441
RMSE: 6.052422661571132

Alpha: 10
MAE: 4.6415036699854735
RMSE: 7.006540959555798

Alpha: 100
MAE: 5.87884938271087
RMSE: 8.485508927563993

Alpha: 1000
MAE: 6.262755282238796
RMSE: 9.043808157126925

In [41]:
from sklearn.svm import SVR

for C in [1,10,100,1000,10000,100000]:

    model = SVR(C=C)
    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)

    print("C:", C)
    print('MAE:', mean_absolute_error(y_test, y_pred))
    print('RMSE:', mean_squared_error(y_test, y_pred) ** 0.5)
    print()

C: 1
MAE: 5.281960348873121
RMSE: 8.652239526194208

C: 10
MAE: 5.083658756005503
RMSE: 8.38810555173356

C: 100
MAE: 4.39967339465945
RMSE: 7.428963120981332

C: 1000
MAE: 3.949303217008856
RMSE: 6.4450198625189845

C: 10000
MAE: 3.572541850593689
RMSE: 5.751519454039265

C: 100000
MAE: 2.935913131077839
RMSE: 4.99233438886726